html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
body {
    background-color: #EBECF0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #2D3A41;
}

p, h1, h2, h3, h4, h5, h6, .text {
    color: #818490;
    text-shadow: 1px 1px 1px #FFF;
}

a, .a {
    color: #039151;
}
.root {
    padding-bottom: 80px;
    height: 100%;
}

.content {
    color: #5c5e63;
}

.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

header {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 15px;
    display: flex;
}

footer {
    border-top: 1px solid #ccc;
}

button, input, textarea, select, .file-input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

input, textarea {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
textarea {
    resize: vertical;
    min-height: 200px;
}
input.invalid {
    border: 1px solid #AE1100;
}
input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.input-raw {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
}

.input-select {
}

video {
    width: 100%;
}

.input-raw label {
    flex: 1;
    display: block;
    width: 100%;
}

form .input-raw label {
    margin-bottom: 24px;
}

.input-label {
    display: block;
    font-weight: 600;
}

.input-error {
    text-shadow: 1px 1px 1px #FFF;
    color: #AE1100;
    font-size: 14px;
    font-weight: 600;
}

button, select, .file-input {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

select, .file-input {
    margin-top: 5px;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    width: 100%;
    cursor: pointer;
}
.file-input-label {
    display: block;
    cursor: pointer;
}

.file-input-label span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.file-input-input {
    opacity: 0;
    padding: 16px;
    cursor: pointer;
}

.file-input {
    padding: 0;
    position: relative;
}

button {
    padding: 12px 24px;
    line-height: 1.5;
}

button:hover, button.hover, .neomorphic, .badge, .youtube-video {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.neomorphic, .badge {
    border-radius: 8px;
    padding: 20px;
}
.badge {
    background: #039151;
    color: #deefe7;
    font-weight: 900;
    padding: 5px 10px;
    font-size: 12px;
}
.badge-red {
    background: #ad1100;
}
button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.button-green {
    background: #069668;
    color: #deefe7;
    text-shadow: none;
}
.button-red {
    background: #ff382d;
    color: #fff;
    text-shadow: none;
    line-height: 1.5;
}

.button-small {
    padding: 8px;
}

.w-600 {
    max-width: 600px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.px-20 {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.block {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
    align-items: baseline;
}

.flex-col {
    flex-direction: column;
}

.flex-vertical-centered {
    align-items: center;
}

.flex-vertical-top {
    align-items: flex-start;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-stretch {
    align-items: stretch;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.text-green {
    color: #069668;
}

.transition2 {
    transition: all .2s;
}

.transition3 {
    transition: all .3s;
}


.transition4 {
    transition: all .4s;
}
.logo {
    width: 400px;
    height: 100px;
    background-image: url("../static/binom_green.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.bottom-menu {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EBECF0;
}

.bottom-menu-nav {
    display: flex;
    justify-content: space-around;
}

.bottom-menu-nav-link {
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
    position: relative;
    z-index: 1;
}

.bottom-menu-nav-link-badge {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.bottom-menu-nav-link-badge-content {
    display: inline-block;
    border-radius: 20px;
    font-weight: 900;
    font-size: 10px;
    background-color: #AE1100;
    color: #fff;
    text-decoration: none;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
}

.bottom-menu-nav-link-badge-content-many {
    font-size: 8px;
}

.bottom-menu-nav-link:hover {
    background: rgba(0,0,0,.05);
}

.overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 20;
    background: rgba(255,255,255,.7);
    padding: 0 20px;
    display: flex;
}

.overlay-content {
    width: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

.modal {
    width: 100%;
    max-width: 1500px;
    left: 50%;
    margin-left: -50%;
    background-color: #EBECF0;
    position: absolute;
    bottom: 0;
    top: 20%;
    border-radius: 8px 8px 0;
    padding: 20px;
    animation: slideFromBottom both .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

.error .modal-icon *{
    fill: #AE1100;
}

.modal-content {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-text {
    font-weight: bold;
}

.error .modal-text {
    color: #AE1100;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loader-image {
    background: url("../static/binom_o.svg");
    background-size: contain;
    width: 80px;
    height: 80px;
    animation: loaderAnimation 1.5s infinite;
}

.pointer {
    cursor: pointer;
}

.list, .sub-list {
    padding: 10px;
}

.card {
    transition: all .3s;
    padding: 20px 10px;
}
.card:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
.list, .card {
    border-radius: 8px;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
}

.list-item .sub-list, .sub-list.closed {
    display: none;
}

.list-item.open .sub-list, .sub-list.opened {
    display: block;
    animation: showFromTop .2s both;
}

.sub-list {
    margin-top: 20px;
    padding-left: 40px;
    border-top: thin solid rgba(0,0,0,.1);
}

.sub-list-item, .list-item {
    padding: 20px 15px;
    transition: all .3s;
    cursor: pointer;
}
.sub-list-item {
    padding: 15px;
}
.list-item {
    border-bottom: thin solid rgba(0,0,0,.1);
    overflow: hidden;
}

.list-item:not(.open):hover {
    background: #dfe0e4;
}
.sub-list-item-title, .list-item-title, .card-title {
    font-weight: 900;
    line-height: 1.5;
}
.list-item-title, .card-title {
    font-size: 20px;
}

.sub-list-item-title {
    font-size: 18px;
    color: #5f6169;
    transition: all .3s;
}

.sub-list-item-title:hover {
    color: #393a3e;
}

.list-item:nth-last-child(1) {
    border-bottom: none;
}

.list-item-info, .card-info {
    color: #818490;
    font-size: 14px;
    font-weight: 600;
}
.list-item-row {
    display: flex;
}
.open .list-item-row {
    background: #EBECF0;
}
.list-item-icon, .card-icon {
    margin-right: 20px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
}
.list-item-icon-paragraph, .card-icon-paragraph {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.top-bar {
    padding: 10px 0;
    min-height: 56px;
    border-bottom: thin solid rgba(0,0,0,.1);
}
.top-bar > a {
    margin-right: 10px;
}

.video-container {
    background-color: #069668;
}

.video-container video {
    height: 70vh;
    min-height: 300px;
    display: block;
}

.youtube-video {
    border-radius: 8px;
    width: 100%;
    height: 70vh;
    min-height: 300px;
}

.outline-background {
    position: relative;
    background-color: #ebecf0;
    z-index: 1;
}
.outline-background:after {
    content: '';
    background-color: #ebecf0;
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    bottom: -20px;
    z-index: -1;
}
.pre {
    white-space: pre;
}

.break-spaces {
    white-space: break-spaces;
}
code {
    color: #000;
}
.back-link {
    display: block;
    padding: 7px 15px 7px 7px;
    line-height: 1;
    animation: backLinkShow .3s both;
}

.back-link > svg {
    vertical-align: middle;
}

.textarea-with-files {
    position: relative;
}
.textarea-with-files-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(235,236,240,.8);
    border-radius: 8px;
    font-weight: 900;
    border: 2px dashed;
}

.textarea-with-files-dropzone {
    position: relative;
}

.textarea-with-files-controls {
    margin-bottom: 10px;
    border-radius: 0 0 8px 8px ;
    padding: 5px;
}

.textarea-with-files-controls button {
    padding: 5px;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.textarea-with-files .input-raw {
    padding-bottom: 0;
    margin-bottom: -5px;
}

.textarea-with-files textarea {
    border-radius: 8px 8px 0 0;
}

.textarea-with-files-list {
    padding: 15px 0;
    display: flex;
}
.textarea-with-files-list-item {
    padding-right: 20px;
    padding-bottom: 10px;
}
.textarea-with-files-list-item button {
    padding: 0 5px;
}
.textarea-with-files-list-item-name {
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
.lesson-comments {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
.lesson-comment {
    padding: 20px 0 20px 10px;
}
.lesson-comment:last-child {
    margin-bottom: 10px;
}

.lesson-comment-header {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
    margin-top: -30px;
    margin-left: -30px;
}

.lesson-comment-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #EBECF0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.lesson-comment-author {
    padding: 0 15px;
}
.lesson-comment-author-name {
    font-size: 13px;
    font-weight: 900;
}
.lesson-comment-author-date {
    font-size: 10px;
}
.lesson-comment-files {
    padding-top: 10px;
}
.lesson-comment-file {
    padding: 0;
}
.lesson-comment-image, .lesson-comment-file {
    border-radius: 8px;
    display: inline-block;
}
.lesson-comment-image {
    display: block;
    height: 80px;
}
.notification-header {
    font-size: 14px;
    padding-left: 5%;
    color: #808080;
    padding-bottom: 5px;
}
.notification-row {
    display: flex;
    align-items: flex-start;
}
.notification-new {
    font-weight: 900;
}
.notification-text {
    width: 80%;
}

.notification-date {
    text-align: right;
    width: 15%;
    font-size: 14px;
}
.notification-status {
    width: 5%;
}
.notification-status:after {
    content: '';
    display: block;
    background-color: #5c5e63;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.notification-new .notification-status:after {
    background-color: #AE1100;
}

.no-decoration {
    text-decoration: none;
}
.topic-lesson-item {
    position: relative;
}
.topic-lesson-item-icon {
    display: inline-block;
    width: 25px;
}
.topic-lesson-item-allowed {
    color: #2D3A41;
}
.topic-lesson-item-active {
    color: #ad1100;
}
.topic-lesson-item-active * {
    fill: #ad1100;
}
.topic-lesson-item-allowed * {
    fill: #2D3A41;
}

.topic-lesson-item-passed {
    color: #039151;
    text-decoration: none;
}

.topic-lesson-item-passed * {
    fill: #039151;
}

.finished .card-title {
    color: #039151;
}
.in-progress .card-title {
    color: #ad1100;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.flex-wrap {
    flex-wrap: wrap;
}

.link-to-task {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.link-to-task a:hover {
    text-decoration: none;
}

.wrap {
    white-space: break-spaces;
}

.text-xs {
    font-size: 14px;
}

.line-height-2 {
    line-height: 2;
}

.text-red {
    color: #ad1100;
}
.text-white {
    color: #ffffff;
}

@media (min-width:1024px) {
    .w-33 {
        width: 33.3%;
    }
}

@keyframes slideFromBottom {
    0% { transform: translateY(200%); }
    100% { transform: translateY(0); }
}

@keyframes showFromTop {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes loaderAnimation {
    0% {transform: scale(1) rotate(0); opacity: 1;}
    50% {transform: scale(.6) rotate(380deg); opacity: .1}
}

@keyframes backLinkShow {
    0% {margin-left: -20px; opacity: 0}
    1000% {margin-left: 0; opacity: 1}
}